@tailwind base;
@tailwind components;
@tailwind utilities;

/* Basic styling, adjust as needed */


.font1{
  font-family: 'Aleo', serif;
  
}

.downArrow{
  animation: updown 2s ease-in-out infinite;
}

@keyframes updown {
  0% ,100% {
    transform: translateY(0);
  }
  50%  {
    transform: translateY(20px);
  }
}

p,div,a{
  color: rgb(76, 75, 75);
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

nav {
 
  
  padding: 10px;
  position: sticky;
  top: 0;
  z-index: 1;
   display: grid;
   /* background-color: white; */



  
}

.navbar {
  list-style: none;
  /* margin: 0; */
  padding: 0;
  display: flex;

  justify-content: center;
  
 
}

.navbar li {
  margin-right: 20px;
  
}

.navbar a {
  text-decoration: none;
  color: rgb(12, 0, 0);
}

.section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

}

.navbar a.active {
  color: rgb(253, 75, 52);
  font-weight: 500;
 /* Set the color you want for the active link */


}


.cartChild{
  width: auto;

  height: 300px;
  margin-top: 400px;
 
  padding-left: 10px;
  padding-right: 10px;
  font-size: 18px;
  transition-duration: 600ms;



}

.cart{

  overflow: hidden;
}




/* ------------- */
.carousel-container {
  position: relative;
  width: 1200px; 
  overflow: hidden;
}

.carousel {
  display: flex;
/* column-gap: 20px; */
  transition: transform 0.5s ease-in-out;
}

.item {
  width: 400px;
  height: 400px;

  flex-shrink: 0;
  background-color:rgb(230,230,230);

}

.nav-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  background-color: #ccc;
  font-size: 24px;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
}

.prev {
  left: 0;
}

.next {
  right: 0;
}



.font1{
  font-family: 'PT Sans Narrow', sans-serif;
}


.scrollbar::-webkit-scrollbar {
  display: none;
}


